<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Taker</title>
  </head>
  <body>
    <div class="container">
<<<<<<< HEAD
    <h1><a href="#/">Note Taker</a><h1>
=======
    <h1><a href="#/notes">Eb's Notes</a><h1>
>>>>>>> 481ae89de4a7fae60530b10552ac97eb38966ddb
    {{{body}}}
  </div>
  </body>
</html>
