<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Taker</title>
  </head>
  <body>
    <div class="container">
    <h1><a href="#/">Note Taker</a><h1>
    {{{body}}}
  </div>
  </body>
</html>
